<div class="flex-row" >
    <ng-container *ngFor="let card of allCards; let i = index">


                <div class=" flip-card">

                    <div class="flip-card-body" (click)="card.touch ? rotateCard(i) : null" id={{i}} [ngClass]="{'flipped':card.revealed === true}" >
                        <div class="flip-card-front">
                            <img class="cheetahCard"/>
                        </div>
                        <div class="flip-card-reverse">
                            <img src='{{ "../assets/cards/" + card.idCard + ".png" }}'>

                        </div>
                    </div>
                </div>


    </ng-container>
</div>
