<div class="flex-row" >
    <ng-container *ngFor="let card of allCards; let i = index">


                <div class=" flip-card">

                    <div class="flip-card-body" (click)="rotateCard(card, i, $event)" id={{i}}>
                        <div class="flip-card-front">
                            <img class="cheetahCard"/>
                        </div>
                        <div class="flip-card-reverse">
                            <img src='{{ "../assets/cards/" + card + ".png" }}'>

                        </div>
                    </div>
                </div>


    </ng-container>
</div>
