@media (min-width: 576px) {
  .card-container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .card-container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .card-container {
    max-width: 960px;
  }
}

.card-container{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
